<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#62557c" />
  <title>ReFind</title>

  <link rel="icon" href="./restaurant.png">

  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">


</head>

<body>
  <header id="header">
    <app-header></app-header>
  </header>

  <app-nav></app-nav>

  <main id="mainContent" tabindex="0">

  </main>

  <footer>
    <h1 class="copyright-content">Copyright © 2022 - Restaurant Finder.</h1>
  </footer>

</body>

</html>